<div *ngIf="exam" class="flex text-center flex-col w-full h-auto items-center">
  <h2 class="text-center my-2 mt-5 font-bold px-2 py-1 bg-blue-300 rounded">
    Tên: {{exam.testName}}
  </h2>
  <div class="flex flex-row flex-wrap justify-center">
    <div class="my-2 mx-3 px-2 py-1 bg-gray-300 rounded">
      <span class="mx-2"><i class="fa fa-book"></i></span> {{exam.testCategoryName}} 
    </div>
    <div class="my-2 mx-3 px-2 py-1 bg-gray-300 rounded">{{exam.numberOfQuestions}} câu hỏi</div>
  </div>
  <div class="my-2 px-2 py-1 bg-gray-300 rounded">
    <span class="mx-2"><i class="fa fa-calendar"></i></span>
    Ngày tạo: {{exam.createdDate | date: 'dd/MM/yyyy'}}
  </div>
  <div class="my-2 px-2 py-1 bg-gray-300 rounded">
    <span class="mx-2"><i class="fa fa-calendar"></i></span>Tổng điểm: {{exam.totalPoint}} điểm
  </div>
  <div class="my-2 px-2 py-1 bg-gray-300 rounded mb-8"><i class="mx-2 fas fa-clock"></i>Thời gian: {{exam.time | formatTime}} phút</div>
  <div class="flex justify-center my-5">
    <a [routerLink]="['./start']" class="btn btn-primary mr-4"> Bắt đầu </a>
    <a [routerLink]="['/user/test']" class="btn btn-primary"> Quay lại </a>
  </div>
</div>
