<form (ngSubmit)="submitAvatar()">
  <div class="-mx-3 md:flex flex-col mb-2 w-full">
    <div class="md:w-full px-3">
      <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2"
      >
        Chọn ảnh
      </label>
      <!-- <app-file-upload (fileUrlOutput)="updateAvatar($event)"></app-file-upload> -->
      <input
        class="appearance-none border rounded-md w-full py-2 px-3 my-1 text-gray-600 bg-gray-200 leading-tight outline-none focus:border-blue-500"
        type="file"
        accept="image/*, .xlsx, .xls"
        placeholder="Chọn file"
        autocomplete="off"
        required
        (change)="selectFile($event)"
      >
    </div>
  </div>
  <div class="my-5 flex justify-end px-6">
    <button class="btn btn-primary"
            type="submit">Lưu
    </button>
  </div>
</form>
