<div class="bg-blue-600 md:pt-32 pb-32 pt-12">
  <div class="px-4 md:px-10 mx-auto w-full"></div>
</div>
<div class="mx-auto w-full -m-24">
  <div class="flex flex-wrap mt-4 justify-center">
    <div class="w-full mb-12 xl:mb-0 px-4 max-w-5xl">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
      >
        <div class="rounded-t mb-0 px-4 py-3 border-0">
          <div>
            <div class="relative w-full max-w-full flex-grow leading-8 mb-3">
              <div class="flex justify-between">
                <h3 class="font-semibold text-2xl text-gray-800">
                  Danh sách tài khoản
                </h3>
                <button class="btn btn-primary">
                  <i class="fas fa-plus-square"></i>
                  Thêm mới
                </button>
              </div>
            </div>
            <form [formGroup]="formSearch">
              <div class="flex justify-between">
                <div class="input-container flex items-center">
                  <input
                    style="width: 300px"
                    type="text"
                    class="form-control"
                    formControlName="keyWord"
                    placeholder="Nhập tên hoặc email người dùng"
                  />
                </div>
                <div class="input-container flex items-center">
                  <!-- <mat-select> </mat-select> -->
                  <mat-form-field>
                    <mat-label>Toppings</mat-label>
                    <mat-select [formControl]="toppings" multiple>
                      <mat-select-trigger>
                        {{toppings.value?.[0] || ''}}
                        @if ((toppings.value?.length || 0) > 1) {
                        <span class="example-additional-selection">
                          (+{{ (toppings.value?.length || 0) - 1 }}
                          {{
                            toppings.value?.length === 2 ? "other" : "others"
                          }})
                        </span>
                        }
                      </mat-select-trigger>
                      @for (topping of toppingList; track topping) {
                      <mat-option [value]="topping">{{ topping }}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="input-container flex gap-5 items-center">
                  <button class="btn btn-success">
                    <i class="fas fa-sync"></i>
                    Làm mới
                  </button>

                  <button class="btn btn-success">
                    <i class="fas fa-search"></i>
                    Tìm kiếm
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="block w-full">
          <!-- Projects table -->
          <!-- <ejs-grid
            class="table-striped mt-2"
            [dataSource]="listData"
            #grid
            allowPaging="true"
            [allowSorting]="true"
            [allowSelection]="true"
            [allowResizing]="true"
          >
            <e-columns>
              <e-column
                type="checkbox"
                freeze="Left"
                width="70"
                textAlign="center"
              >
              </e-column>
              <e-column
                field="serialNumber"
                headerText="STT"
                textAlign="Center"
              ></e-column>
              <e-column
                field="ten"
                headerText="Tên kho lưu trữ"
                [width]="150"
                textAlign="Left"
              ></e-column>
              <e-column
                field="tenKhongGianLuuTru"
                headerText="Không gian lưu trữ"
                textAlign="Left"
              ></e-column>

              <e-column
                field="id"
                headerText="Thao tác"
                freeze="Right"
                textAlign="Center"
              >
                <ng-template #template let-data>
                  <button class="btn btn-sm">
                    <i class="far fa-edit" style="color: rgb(0, 34, 255)"></i>
                  </button>
                  <button class="btn btn-sm" style="color: red">
                    <i class="far fa-trash"></i>
                  </button>
                  <button class="p-2">
                    <i class="fal fa-eye"></i>
                  </button>
                  <button class="p-2">
                    <i class="fal fa-cog"></i>
                  </button>
                </ng-template>
              </e-column>
            </e-columns>
          </ejs-grid> -->
        </div>
      </div>
    </div>
  </div>

  <!-- <app-admin-footer></app-admin-footer> -->
</div>
