  <div class="bg-gray-100 w-screen h-screen flex justify-center items-center">
    <!-- modal -->
    <div class="flex fixed max-w-5xl w-5/6 sm:w-4/5 bg-white rounded-sm shadow-2xl">
      <div class="hidden md:block w-6/12 md:w-5/12">
        <img src="../../assets/images/bg-login.jpg" alt="hình nền login"
             class="rounded-sm inset-0 h-full w-full object-cover object-center">
      </div>
      <div class="w-full md:w-7/12 text-left">
        <div class="modal-content px-3 py-2 md:px-4 md:py-1 lg:px-6 lg:py-3">
            <div class="flex justify-between">
              <div class="text-xl md:text-2xl lg:text-3xl font-bold">Khôi phục mật khẩu
              </div>
            </div>
            <!--Form reset password-->
            <form novalidate>
              <div class="form-group">
                <div class="flex flex-row justify-between mt-3">
                  <label for="email" class="text-label">Email</label>
                </div>
        
                <input
                  class="form-control"
                  id="email" type="text" placeholder="Email" autocomplete="off"
                  name="email"
                  formControlName="email"
                  required
                />
        
                <p class="text-red-500 text-xs italic"
                >Email không được bỏ trống!</p>
                <p class="text-red-500 text-xs italic"
                >Định dạng email không phù hợp!</p>
              </div>
        
              <button
                class="btn btn-primary mt-3">
                Khôi phục ngay
              </button>
              <!-- <ng-template [ngIf]="preLoading">
                <app-spinner></app-spinner>
              </ng-template> -->
            </form>
            <div class="mt-3 mb-4 flex justify-start">
                <!-- (click)="openTab=1" -->
              <a [routerLink]="['/sign-in']"
                 
              class="text-sm text-black-500 hover:text-black-600 cursor-pointer focus:underline font-semibold select-none">&larr; Trang đăng nhập</a>
            </div>
          </div>
        
      </div>
    </div>
    <!-- End modal -->
  </div>