.nav-link {
  padding: 4px 15px;
  background-color: #f8f9fa;
  border-radius: 25px;
  white-space: nowrap;
  cursor: pointer;
  color: #1a1a1a;
}

.nav-link.active {
  background-color: #4d81c4;
  color: #ffffff;
  font-weight: 500;
}

.nav-link.active:hover {
  background-color: #4d81c4;
  color: #ffffff;
  font-weight: 500;
}

.nav-link:hover {
  background-color: #e7eaf3;
}

.col-gap{
  column-gap: 80px !important;
}

/* // .list-title::before{
//   content: "";
//   width: 20px;
//   height: 5px;
//   display: block;
//   margin-right: 5px;
//   border-radius: 5px;
// }

// .title-coming::before{
//   @extend .list-title;
//   background-color: #0cce6b;

// }

// .title-complete::before{
//   @extend .list-title;
//   background-color: #718096;
// }
// :host ::ng-deep .xng-breadcrumb-item{
//   padding-right: 0.5rem;
//   padding-left: 0.5rem;
//   padding-top: 0.25rem;
//   padding-bottom: 0.25rem;
//   background-color: #e2e8f0;
//   border-radius: 0.25rem;

// } */
