<!-- <div class="search-container">
  <input class="form-control" type="text" placeholder="Tìm kiếm" />
  <button class="btn btn-primary mt-2">Tìm kiếm</button>
</div> -->
<!-- <form [formGroup]="formSearch"> -->
  <div class="tag-list">
    <ul class="nav nav-pills flex-wrap">
      <li class="nav-item w-auto">
        <a 
          class="nav-link mr-2"
          [ngClass]="{'active': isAllCategoriesSelected()}"
          (click)="selectAllCategories()"
        >Chọn tất cả
      </a>
      </li>
      <li class="nav-item w-auto" *ngFor="let testCategory of testCategories">
        <a 
          class="nav-link mr-2"
          [ngClass]="{'active': testCategory.isActive}"
          (click)="activatetestCategory(testCategory)"
        >{{testCategory.testCategoryName}}</a>
      </li>
    </ul>
  </div>
  <div class="input-group mt-3">
    <input
      type="search"
      class="form-control rounded"
      placeholder="Tìm kiếm"
      aria-label="Search"
      aria-describedby="search-addon"
      (keydown.enter)="loadData()"
      [(ngModel)]="searchString"
      />
    <button (click)="loadData()" type="button" class="btn btn-outline-primary" data-mdb-ripple-init>
      Tìm kiếm
    </button>
  </div>
<!-- </form> -->
<div class="list-current-exam flex flex-wrap w-full gap-5 mt-5"
  *ngIf="examList"
  [class.col-gap]="examList.length % 4 == 0"
  [class.justify-between]="examList.length % 4 == 0"
>
  <!-- <ng-container *ngFor="let examComing of listComing">
      <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3" *ngIf="!skeletonLoading">
        <app-test-card [examUser]="examComing"></app-test-card>
      </div>

    </ng-container> -->
    <!-- Article -->
    <ng-container *ngIf="examList && examList.length > 0; else noExam">
      <article *ngFor="let exam of examList"
        class="overflow-hidden rounded-lg shadow-lg hover:shadow-2xl transition duration-700"
      >
        <a [routerLink]="['/user/test/',exam.id]">
          <div class="relative img-hover-zoom">
            <img
              alt=""
              class="bg-img block h-56 w-full cursor-pointer"
              src="../../../assets/images/{{exam.imgLink && exam.imgLink != 'string' ? exam.imgLink : 'avatar-default.png'}}" 
              />
              <!-- src="../../../assets/images/avatar-default.png"  -->
            <i class="fa fa-circle absolute top-0 right-0 mt-4 mr-4"></i>
          </div>
        </a>
        <div class="card-content-2 p-3">
          <div class="flex items-center justify-between leading-tight">
            <h1 class="text-lg">
              <a class="no-underline hover:underline font-bold text-xl text-gray-700">
                {{exam.testName}}
              </a>
            </h1>
          </div>
          <div class="text-gray-600 text-sm flex justify-between">
            <p>{{(exam.createdDate ? exam.createdDate : currentDate) | date: 'dd/MM/yyyy'}}</p>
          </div>
          <div class="w-full mb-1">
            {{exam.testCategoryName}}
          </div>
          <div class="flex">
            <a [routerLink]="['/user/test/',exam.id]" class="w-100 btn btn-outline-primary mb-3">Chi tiết</a>
          </div>
          <div class="flex items-center justify-between leading-none">
            <a class="flex items-center no-underline text-gray-600">
              <img
                alt="###"
                class="block rounded-full shadow-lg w-8 h-8"
                src="../../../assets/images/avatar-default.png"
              />
              <p class="text-sm mb-0 ml-1">{{exam.createdBy ? exam.createdBy : 'Admin'}}</p>
            </a>
            <div
              class="inline-block bg-gray-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700"
            >
              <i class="fa fa-clock-o text-gray-700 lg:mr-1"></i>
              <span>{{exam.time | formatTime}} phút</span>
            </div>
          </div>
        </div>
      </article>
      <div class="mt-5 w-100">
        <app-pagging
          [listItems]="pagging"
          (onChangePage)="onChangePage($event)"
        >
        </app-pagging>
      </div>
    </ng-container>
    <ng-template #noExam>
      <div class="w-100 flex justify-center items-center text-2xl text-blue-600">
        Không có dữ liệu hiển thị
      </div>
    </ng-template>
<!-- END Article -->
</div>
