<div class="w-full relative">
  <h4 *ngIf="exam">Đề thi: {{exam.testName}}</h4>
  <ng-container *ngFor="let ques of questions; let i = index"
  >
    <div class="my-12 mx-4 flex flex-row"
    id="question-{{i}}"
    >
      <div
        class="cursor-pointer bg-gray-300 mx-4 px-4 py-2 h-32 rounded-md ml-0 flex flex-col select-none items-center"
        [class.highlight]="ques.isHiglighted" 
        (click)="highlightQuestion(ques)"
      >
        <div class="font-bold text-wrap-none text-gray-600 text-xl my-2 question-text text-nowrap">Câu {{i + 1}}</div>
        <div class="text-gray-600 text-sm">
          <ng-container [ngSwitch]="ques.difficultyLevel">
            <ng-template [ngSwitchCase]="1">
              <span class="question-text px-2 py-1 my-2 rounded-md bg-green-300 text-green-600 text-sm font-semibold">Dễ</span>
            </ng-template>
            <ng-template [ngSwitchCase]="2">
              <span
                class="question-text px-2 py-1 my-2 rounded-md bg-gray-400 text-gray-600 text-sm font-semibold">Vừa</span>
            </ng-template>
            <ng-template [ngSwitchCase]="3">
              <span
                class="question-text px-2 py-1 my-2 rounded-md bg-red-300 text-red-600 text-sm font-semibold">Khó</span>
            </ng-template>
          </ng-container>
        </div>
        <div class="question-text py-2 text-gray-600 text-nowrap">{{ques.point}} điểm</div>
      </div>
      <div class="bg-gray-300 rounded-md shadow-lg px-8 py-6 w-full">
        <p class="select-none" [innerHTML]="ques.content"></p>
        <div class="h-auto">
          <div class="my-5 font-semibold text-blue-600 select-none">
            Chọn câu trả lời<span></span>
          </div>
          <div class="flex">
            <div class="radio-type flex-1" *ngFor="let choice of ques.choices; let choiceIndex = index">
              <div class="radio-btn">
                <input 
                  name="mcChoices-{{ques.id}}"
                  type="radio" 
                  id="mc-{{ choice.id }}" 
                  (change)="changeChoiceMC(choice.id, ques.id)"
                  [checked]="choice.isSelected === 1 ? true : false"
                />
                <label for="mc-{{ choice.id }}" class="select-none">{{choice.choiceText}}</label>
              </div>
            </div>

            <!-- <div class="radio-type flex-1">
              <div class="radio-btn">
                <input type="radio" />
                <label class="select-none">{{ques.option2}}</label>
              </div>
            </div> -->
          </div>
          <!-- <div class="flex" *ngIf="ques.option3">
            <div class="radio-type flex-1">
              <div class="radio-btn">
                <input type="radio" />
                <label class="select-none">{{ques.option3}}</label>
              </div>
            </div>

            <div class="radio-type flex-1">
              <div class="radio-btn">
                <input type="radio" />
                <label class="select-none">{{ques.option4}}</label>
              </div>
            </div>
          </div> -->

          <!-- <ng-container *ngFor="let choice of ques.choices">
            <ng-container [ngSwitch]="ques.questionType.typeCode">
              <ng-template [ngSwitchCase]="1">
                <div class="flex">
                  <div class="radio-type flex-1">
                    <div class="radio-btn">
                      <input type="radio" id="true-{{choice.id}}"
                             name="choicesTF-{{ques.id}}" value="True"
                             (change)="selectAnswerTF($event, ques.id)"
                             [checked]="choice.choiceText=='True' && choice.isCorrected==1"/>
                      <label class="select-none" for="true-{{choice.id}}">True</label>
                    </div>
                  </div>

                  <div class="radio-type flex-1">
                    <div class="radio-btn">
                      <input type="radio" id="false-{{choice.id}}"
                             name="choicesTF-{{ques.id}}" value="False"
                             (click)="selectAnswerTF($event, ques.id)"
                             [checked]="choice.choiceText=='False' && choice.isCorrected==1"
                      />
                      <label class="select-none" for="false-{{choice.id}}">False</label>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template [ngSwitchCase]="2">
                <div class="flex flex-col">
                  <div class="w-full my-1">
                    <div class="flex">
                      <div class="radio-type w-full">
                        <div class="radio-btn">
                          <input type="radio" name="mcChoices-{{ques.id}}"
                                 (change)="selectedAnswerMC($event, ques.id, choice.id)" id="mc-{{choice.id}}"
                                 [checked]="choice.isCorrected==1">
                          <label class="select-none" for="mc-{{choice.id}}" [innerHTML]="choice.choiceText"></label>
                        </div>
                      </div>

                    </div>

                  </div>

                </div>
              </ng-template>
            </ng-container>
          </ng-container> -->
          
        </div>
      </div>
    </div>
  </ng-container>

  <hr class="w-full my-3" />
  <p class="text-center font-bold end-text">Kết thúc</p>
  
  <!-- Thanh chính -->
  <div
  class="px-4 py-4 bg-white shadow-lg rounded-md sticky bottom-0 left-0 right-0 z-30"
>
  <div class="flex justify-between">
    <div>
      Thời gian:
      <span class="font-bold text-xl">{{ counter | formatTime }}</span>
    </div>

    <div>
      <button class="btn btn-primary" (click)="showModal()">Nộp bài</button>
    </div>
  </div>
  <div class="row">
    <div class="question-list flex mt-2 flex-wrap">
      <ng-container *ngFor="let ques of questions; let i = index">
        <div class="question-container cursor-pointer">
          <div
            class="w-7 mr-2 text-black h-7 rounded-full border relative flex justify-center items-center"
            (click)="scrollToQuestion(i)"
            [class.highlight]="ques.isHiglighted" 
            [ngClass]="{'text-white' : ques.isAnswered, 'bg-blue-500' : ques.isAnswered}"
          >
            <span class="question-text ">{{i + 1}}</span> 
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  </div>
</div>

<div *ngIf="toggleModal" class="fixed inset-0 z-40 bg-smoke-light"></div>
<div
  *ngIf="toggleModal"
  class="fixed inset-0 overflow-auto z-50 outline-none focus:outline-none justify-center flex"
>
  <div class="relative w-4/5 my-5 mx-auto max-w-2xl" style="margin-top: 2.5rem">
    <!--content-->
    <div
      class="border-0 rounded-lg shadow-lg relative flex flex-col w-full overflow-y-auto my-5 bg-white outline-none focus:outline-none"
      style="max-height: 90%"
    >
      <!--header-->
      <div
        class="flex items-start justify-between p-5 border-b border-solid border-gray-300 rounded-t"
      >
        <h3 class="text-2xl font-semibold">Bạn chắc chắn muốn nộp bài chứ?</h3>
        <button
          class="p-1 ml-auto bg-transparent text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
          (click)="closeModal()"
        >
          <span
            class="bg-transparent text-gray-700 opacity-5 h-3 w-3 text-base block outline-none focus:outline-none"
          >
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <!--body-->
      <!--footer-->
      <div class="flex items-center justify-end p-6 rounded-b">
        <button class="btn btn-primary mr-3" (click)="submit()">Nộp</button>
        <button class="btn btn-primary" (click)="closeModal()">Huỷ</button>
      </div>
    </div>
  </div>
  
</div>
