<form novalidate (ngSubmit)="updatePassword()" [formGroup]="rfPassword">
  <div class="-mx-3 md:flex flex-col mb-2 w-full">
    <div class="md:w-full px-3">
      <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2"
             for="old-password">
        Mật khẩu cũ <span class="mx-1 text-lg text-gray-700" (click)="togglePwd('hiddenOldPwd')">
        <i [ngClass]="hiddenOldPwd ? 'fa fa-eye-slash':'fa fa-eye'"></i>
      </span>
      </label>
      <input
        class="appearance-none border rounded-md w-full py-2 px-3 my-1 text-gray-600 bg-gray-200 leading-tight outline-none focus:border-blue-500"
        id="old-password"
        [type]="hiddenOldPwd? 'password':'text'"
        placeholder="Mật khẩu cũ"
        autocomplete="off"
        formControlName="oldPassword"
        required
      >
      <p class="text-red-500 text-xs italic"
         *ngIf="oldPassword?.hasError('required') && oldPassword?.dirty"
      >Vui lòng điền trường này</p>
    </div>
    <div class="md:w-full px-3 mt-2">
      <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2"
             for="new-pwd-1">
        Mật khẩu mới <span class="mx-1 text-lg text-gray-700" (click)="togglePwd('hiddenNewPwd')">
        <i [ngClass]="hiddenNewPwd ? 'fa fa-eye-slash':'fa fa-eye'"></i>
      </span>
      </label>
      <input
        class="appearance-none border rounded-md w-full py-2 px-3 my-1 text-gray-600 bg-gray-200 leading-tight outline-none focus:border-blue-500"
        id="new-pwd-1"
        [type]="hiddenNewPwd? 'password':'text'"
        placeholder="Mật khẩu mới"
        autocomplete="off"
        formControlName="newPassword"
        required
      >
      <ul class="p-0">
        <li class="text-red-500 text-xs italic"
            *ngIf="newPassword?.hasError('pattern') && newPassword?.dirty"
        >Mật khẩu phải gồm chữ thường, chữ hoa, số và có ít nhất 8 ký tự  </li>
        <li class="text-red-500 text-xs italic"
            *ngIf="confirmPassword && rfPassword.hasError('passwordDuplicating') && confirmPassword.dirty">
          Mật khẩu trùng với mật khẩu cũ
        </li>
      </ul>

    </div>
    <div class="md:w-full px-3">
      <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2"
             for="new-pwd-2">
        Xác nhận mật khẩu <span class="mx-1 text-lg text-gray-700" (click)="togglePwd('hiddenConfirmPwd')">
        <i [ngClass]="hiddenConfirmPwd ? 'fa fa-eye-slash':'fa fa-eye'"></i>
      </span>
      </label>
      <input
        class="appearance-none border rounded-md w-full py-2 px-3 my-1 text-gray-600 bg-gray-200 leading-tight outline-none focus:border-blue-500"
        id="new-pwd-2"
        [type]="hiddenConfirmPwd? 'password':'text'"
        placeholder="Xác nhận mật khẩu"
        autocomplete="off"
        formControlName="confirmPassword"
        required
      >
      <ul class="p-0">
        <li class="text-red-500 text-xs italic"
            *ngIf="confirmPassword && confirmPassword?.hasError('pattern') && confirmPassword?.touched"
        > Mật khẩu phải gồm chữ thường, chữ hoa, số và có ít nhất 8 ký tự 
      </li>
      
        <li class="text-red-500 text-xs italic"
            *ngIf="confirmPassword && rfPassword.hasError('passwordConfirming') && confirmPassword.dirty">
          Mật khẩu không khớp</li>

      </ul>
    </div>
  </div>
  <div class="my-5 flex justify-end px-6">
    <!-- *ngIf="rfPassword.valid"  -->
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer"
            type="submit">Lưu
    </button>
  </div>
  <!-- <div class="my-5 flex justify-end px-6">
    <button class="btn btn-primary"
            type="submit">Lưu
    </button>
  </div> -->
</form>
