<div class="bg-blue-600 md:pt-32 pb-32 pt-12">
  <div class="px-4 md:px-10 mx-auto w-full"></div>
</div>
<div class="mx-auto w-full -m-24">
  <div class="flex flex-wrap mt-4 justify-center">
    <div class="w-full mb-12 xl:mb-0 px-4 max-w-5xl">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
      >
        <div class="rounded-t mb-0 px-4 py-3 border-0">
          <div>
            <div class="relative w-full max-w-full flex-grow leading-8 mb-3">
              <div class="flex justify-between">
                <h3 class="font-semibold text-2xl text-gray-800">
                  Danh sách câu hỏi
                </h3>
                <button
                  class="btn btn-primary"
                  (click)="openAddForm(null, 'add')"
                >
                  <i class="fas fa-plus-square"></i>
                  Thêm mới
                </button>
              </div>
            </div>
            <form [formGroup]="formSearch">
              <div class="flex justify-between">
                <div class="input-container flex items-center">
                  <input
                    style="width: 600px"
                    type="text"
                    class="form-control"
                    formControlName="keyWord"
                    placeholder="Tìm kiếm theo nội dung câu hỏi"
                  />
                </div>
                <div class="input-container flex gap-5 items-center">
                  <button (click)="formReset()" class="btn btn-success">
                    <i class="fas fa-sync"></i>
                    Làm mới
                  </button>

                  <button (click)="loadData()" class="btn btn-success">
                    <i class="fas fa-search"></i>
                    Tìm kiếm
                  </button>
                </div>
              </div>
              <div
                class="mt-4 input-container flex justify-between items-center"
              >
                <div class="select-container">
                  <label for="">Chủ đề</label>
                  <select
                    formControlName="chuDeId"
                    placeholder="Chọn chủ đề"
                    class="mt-2 form-control"
                  >
                    <option value="" disabled selected hidden>
                      Chọn loại chủ đề
                    </option>
                    <option value="1">Chủ đề 1</option>
                  </select>
                </div>
                <div class="select-container">
                  <label for="">Loại câu hỏi</label>
                  <select
                    formControlName="loaiCauId"
                    placeholder="Chọn loại câu hỏi"
                    class="mt-2 form-control"
                  >
                    <option value="" disabled selected hidden>
                      Chọn loại câu hỏi
                    </option>
                    <ng-container
                      *ngFor="let questionCategory of questionCategories"
                    >
                      <option [value]="questionCategory.id">
                        {{ questionCategory.questionCategoryName }}
                      </option>
                    </ng-container>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="block w-full">
          <!-- Projects table -->
          <table
            class="items-center table-fixed w-full bg-transparent border-collapse user-list block lg:table overflow-x-auto overflow-y-auto"
          >
            <thead>
              <tr>
                <th
                  class="row-status px-6 bg-gray-100 text-gray-600 align-middle border border-solid border-gray-200 py-3 text-xs uppercase border-l-0 border-r-0 font-semibold text-left"
                >
                  STT
                </th>
                <th
                  class="row-question px-6 bg-gray-100 text-gray-600 align-middle border border-solid border-gray-200 py-3 text-xs uppercase border-l-0 border-r-0 font-semibold text-left"
                >
                  Câu hỏi
                </th>
                <th
                  class="row-status px-6 bg-gray-100 text-gray-600 align-middle border border-solid border-gray-200 py-3 text-xs uppercase border-l-0 border-r-0 font-semibold text-left"
                >
                  Đáp án
                </th>
                <th
                  class="row-difficulty text-center px-6 bg-gray-100 text-gray-600 align-middle border border-solid border-gray-200 py-3 text-xs uppercase border-l-0 border-r-0 font-semibold text-left"
                >
                  Chủ đề
                </th>
                <th
                  class="row-type px-6 bg-gray-100 text-gray-600 align-middle border border-solid border-gray-200 py-3 text-xs uppercase border-l-0 border-r-0 font-semibold text-left"
                >
                  Loại câu
                </th>
                <th
                  class="row-type px-6 bg-gray-100 text-gray-600 align-middle border border-solid border-gray-200 py-3 text-xs uppercase border-l-0 border-r-0 font-semibold text-left"
                >
                  Thao tác
                </th>
              </tr>
            </thead>

            <tbody>
              <ng-container *ngFor="let ques of questions">
                <tr class="border hover:bg-gray-300">
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs p-4 text-left"
                  >
                    {{ ques.serialNumber }}
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs p-4 text-left"
                  >
                    <div
                      class="cursor-pointer hover:text-blue-800 text-md e-text"
                      (click)="goDeTail(ques.id)"
                    >
                      <span
                        [innerHTML]="ques.content"
                        matTooltip="Xem chi tiết"
                        matTooltipPosition="above"
                      ></span>
                    </div>
                  </td>
                  <td
                    class="border-t-0 text-center px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 w-1/3"
                  >
                    {{ ques.correctOption }}
                  </td>
                  <td
                    class="border-t-0 text-center px-6 align-middle border-l-0 border-r-0 text-xs p-4"
                  >
                    {{ ques.chuDe }}
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs p-4 italic font-semibold"
                  >
                    {{ ques.loaiCau }}
                  </td>
                  <td style="padding-left: 25px">
                    <button
                      class="btn btn-sm"
                      title="Sửa"
                      (click)="getItemByEvent(ques.id)"
                    >
                      <i class="far fa-edit" style="color: rgb(0, 34, 255)"></i>
                    </button>
                    <button
                      class="btn btn-sm"
                      style="color: red"
                      title="Xoá"
                      (click)="getItemByEvent(ques.id, 'delete')"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <app-pagging [listItems]="pagging" (onChangePage)="onChangePage($event)">
      </app-pagging>
    </div>
  </div>

  <!-- <app-admin-footer></app-admin-footer> -->
</div>
